@import "tailwindcss";
@import "@fontsource/jetbrains-mono";

@font-face {
  font-family: "Boxing";
  src: url("/fonts/Boxing-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-hero: "Boxing", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

body {
  font-family: var(--font-mono);
  background-color: var(--color-zinc-50);
  color: var(--color-zinc-950);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-zinc-950);
    color: var(--color-zinc-50);
  }
}
